a {
  transition: color 1s;
}
.section-topbar {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0px 0px #aaaaaa;
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0px;
  transition: top 1s, background-color 2s, box-shadow 2s;
}
.section-topbar--scrolled {
  background-color: #ff6e5e;
  box-shadow: 0 3px 5px #aaaaaa;
}
.section-topbar--scrolled .profile-image {
  border: 2px solid #ffe8e5;
}
.profile-image {
  position: relative;
  display: block;
  min-height: 80px;
  min-width: 80px;
  width: 80px;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 3px solid #f75240;
  background-image: url('http://hiveofthoughts.com/img//profile.png');
  background-size: 100% 100%;
  transition: border 2s;
}
.links {
  position: relative;
  margin-top: 20px;
  display: block;
  float: right;
}
.links__home,
.links__work,
.section-projects__link {
  position: relative;
  float: left;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 22px;
  font-family: 'Josefin Sans', sans-serif;
  color: #7f1c11;
}
.links__home:hover,
.links__work:hover,
.section-projects__link:hover {
  color: #ffbe5e;
  text-decoration: initial;
}
.links__home .fa,
.links__work .fa,
.section-projects__link .fa {
  position: relative;
  top: 10px;
}
.section-projects__link {
  float: none;
}
.section-intro {
  background-color: #fff;
  position: relative;
  padding-top: 150px;
  z-index: -1;
}
.section-intro__background {
  position: absolute;
  width: 120%;
  height: 120%;
  top: 10%;
}
.section-intro__background path,
.section-intro__background line {
  fill: #ff6e5e;
  stroke: #ff6e5e;
}
.light {
  opacity: 0.5;
}
.light path,
.light line,
.light polygon {
  fill: #ff6e5e;
  stroke: #ff6e5e;
  transition: fill 5s, stroke 5s;
}
.not-available {
  filter: grayscale(100%);
  text-decoration: line-through;
}
.not-available:hover {
  color: initial;
  cursor: text;
  text-decoration: line-through;
}
.section-intro__content {
  text-align: center;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  margin-top: 80px;
  margin-bottom: 120px;
}
.section-about,
.section-projects {
  border-top: 20px solid #ff6e5e;
  box-shadow: 0 -3px 5px #aaaaaa, 0 3px 5px #aaaaaa;
  border-bottom: 20px solid #ff6e5e;
  padding-bottom: 50px;
  background-color: #ffe8e5;
}
.back {
  position: absolute;
  width: 100vw;
  left: 0;
  height: 100%;
  z-index: -1;
}
.section-about__whoami,
.section-about__passions,
.section-about__aspirations,
.section-projects__info,
.section-projects__item {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 75px;
}
.section-about__whoami img.svg,
.section-about__passions img.svg,
.section-about__aspirations img.svg,
.section-projects__info img.svg,
.section-projects__item img.svg {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 25;
}
.section-about__whoami .content,
.section-about__passions .content,
.section-about__aspirations .content,
.section-projects__info .content,
.section-projects__item .content {
  float: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 22px;
}
.section-about__whoami .title,
.section-about__passions .title,
.section-about__aspirations .title,
.section-projects__info .title,
.section-projects__item .title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 38px;
  margin-bottom: 5px;
  padding-top: 10px;
  color: #7f1c11;
  z-index: 30;
  box-shadow: 0px -2px 2px -2px #aaaaaa;
}
.section-about__whoami .subtitle,
.section-about__passions .subtitle,
.section-about__aspirations .subtitle,
.section-projects__info .subtitle,
.section-projects__item .subtitle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
}
.section-skills,
.section-projects-list {
  margin-bottom: 75px;
}
.section__title {
  text-align: center;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  color: #f75240;
  margin-bottom: 35px;
  margin-top: 75px;
}
.section-contact {
  border-top: 20px solid #ff6e5e;
  box-shadow: 0 -3px 5px #aaaaaa;
  background-color: #ffe8e5;
}
.section-contact__info {
  margin-top: 50px;
  margin-bottom: 125px;
  font-size: 22px;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
}
.section-footer {
  background-color: #ff6e5e;
}
.section-footer__info {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.maillink {
  color: #ff5e9e;
  text-decoration: none;
}
.maillink:hover {
  color: #7f1c11;
  text-decoration: none;
}
.mfa {
  font-size: 50px;
}
.mfa2 {
  font-size: 16px;
  margin-right: 5px;
  transition: transform 3s;
  transform: rotate(0deg);
}
.mfa-rotate45 {
  position: relative;
  transition: transform 1s;
  transform: rotate(45deg);
}
.emphasis {
  font-size: 30px;
  font-family: 'DM Sans', sans-serif;
  color: #ff6e5e;
}
.droplet-animation {
  position: relative;
  animation-name: animation-drip;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
.cog-animation {
  position: relative;
  animation-name: animation-spin;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
.heart-animation {
  height: 0;
  display: block;
  position: relative;
  text-align: center;
  animation-name: animation-thump;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
.mail-animation {
  position: relative;
  animation-name: animation-send;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.cubes-animation {
  height: 0;
  display: block;
  position: relative;
  text-align: center;
  animation-name: animation-hard-thump;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
@keyframes animation-send {
  0% {
    top: 0px;
  }
  10% {
    top: -40px;
  }
  15% {
    top: 0px;
  }
  20% {
    top: -30px;
  }
  25% {
    top: 0px;
  }
  30% {
    top: -15px;
  }
  35% {
    top: 0px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}
@keyframes animation-drip {
  0% {
    top: 0;
  }
  40% {
    top: 70px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
@keyframes animation-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animation-thump {
  0% {
    font-size: 50px;
  }
  10% {
    font-size: 60px;
  }
  15% {
    font-size: 50px;
  }
  25% {
    font-size: 65px;
  }
  30% {
    font-size: 50px;
  }
  40% {
    font-size: 70px;
  }
  50% {
    font-size: 50px;
  }
  100% {
    font-size: 50px;
  }
}
@keyframes animation-hard-thump {
  0% {
    font-size: 50px;
  }
  10% {
    font-size: 70px;
  }
  15% {
    font-size: 60px;
  }
  50% {
    font-size: 50px;
  }
  100% {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .links .links__home,
  .links .links__work {
    font-size: 22px;
  }
}
