.root {
  position: relative;

  & img {
    max-width: 100%;
  }

  &.area {
    &a {
      grid-area: a;
    }

    &b {
      grid-area: b;
    }

    &c {
      grid-area: c;
    }

    &d {
      grid-area: d;
    }
  }
}