#Force SSL without www
RewriteEngine On
RewriteBase /

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://themichaelgeorge.com/$1 [R,L]

RewriteRule ^overview$ index.php [R=301,NC,L]
RewriteRule ^projects$ projects.php [R=301,NC,L]