@import '../../../assets/styles/colors.scss';

.root {
  top: -330px;
  left: 0;
  position: absolute;
  width: 700px;
  height: 188%;
  z-index: 0;
  transition: left 400ms;
  transform: rotate(20deg);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));

  &.center {
    left: 0;
  }

  &.left {
    left: -50%;
  }

  &.right {
    left: 50%;
  }
}

.edgePiece, .centerPiece {
  transition: fill 300ms;
}

.edgePiece {
  &.blue {
    fill: $blueDark;
  }

  &.red {
    fill: $redDark;
  }

  &.yellow {
    fill: $yellowDark;
  }

  &.purple {
    fill: $purpleDark;
  }

  &.green {
    fill: $greenDark;
  }
}

.centerPiece {
  &.blue {
    fill: $blueMain;
  }

  &.red {
    fill: $redMain;
  }

  &.yellow {
    fill: $yellowMain;
  }

  &.purple {
    fill: $purpleMain;
  }

  &.green {
    fill: $greenMain;
  }
}
