.root {
  top: -330px;
  left: 0;
  position: absolute;
  width: 700px;
  height: 188%;
  z-index: 0;
  transition: left 400ms;
  transform: rotate(20deg);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));

  &.center {
    left: 0;
  }

  &.left {
    left: -50%;
  }

  &.right {
    left: 50%;
  }
}

.edgePiece, .centerPiece {
  transition: fill 300ms;
}

.edgePiece {
  &.blue {
    fill: #1054B3;
  }

  &.red {
    fill: #B31010;
  }

  &.yellow {
    fill: #B39A10;
  }
}

.centerPiece {
  &.blue {
    fill: #156CE6;
  }

  &.red {
    fill: #E61515;
  }

  &.yellow {
    fill: #E6C615;
  }
}
