---
import Layout from "../../components/Layout.astro";
import Section from '../../components/Section.astro';
import Header from '../../components/Header.astro';
export async function getStaticPaths()  {
    const posts = await Astro.glob('../../posts/**/*.md');

    const pages = posts.map((post) => ({
        params: {
            slug: post.frontmatter.slug,
        },
        props: {
            post
        },
    }));

    return pages;
}

const { post: { frontmatter, Content } } = Astro.props;
---
<Layout title={`${frontmatter.title} - Michael George`}>
    <Header noTitleElement={true} />
    <Section>
        <a href="/#posts" class="backLink">Back to Posts</a>
        <h1>{frontmatter.title}</h1>
        <p>
            Written {new Date(frontmatter.createdAt).toLocaleDateString()}
            By {frontmatter.author}
        </p>
        {frontmatter.updatedAt && (
            <p class="updatedText">
                <i>Updated {new Date(frontmatter.updatedAt).toLocaleDateString()}</i>
            </p>
        )}
        <Content />
    </Section>
</Layout>
<style>
    .updatedText {
        font-size: 2.25rem;
    }

    .backLink {
        font-size: 2rem;
    }
</style>
