@import '../../../assets/styles/colors.scss';

.root {
  display: flex;
  justify-content: center;
}

.container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  max-width: 100%;
  margin-top: 100px;
  padding: 20px;
  min-height: 500px;
  border: 16px solid $black;
  border-radius: 7px;
  background: #F2E6DF;
}

.contentContainer {
  max-width: 100%;
  z-index: 1;
}
