.h1 {
  font-weight: 500;
  font-size: 3.5rem;
}

.h2 {
  font-weight: 500;
  font-size: 2rem;
}

.h3, .h4 {
  font-weight: 400;
  font-size: 1.25rem;
}

.p {
  font-weight: 400;
  font-size: 1rem;

  &.emphasized {
    font-size: 1.6rem;
  }
}

.inline {
  font-size: inherit;

  &.emphasized {
    font-weight: 600;
  }
}
