---
import Layout from "../components/Layout.astro";
---
<Layout
        title="Mikey.is/a-blogger"
        pathPieces={[
            'a-blogger'
        ]}
>
    <h1>Or At Least I Would Like To Be</h1>
    <p>
        Presently do not have any posts written for your consumption. But do check back if you are interested to see what's been on my mind!
    </p>
    <p>
        In the meantime, you can read about my <a href="/a-developer">Developer Experience</a>, or see some of the <a href="/a-gamer">Games I am Playing</a>.
    </p>
</Layout>
<style>
</style>
<script>
</script>