---
import Layout from "../components/Layout.astro";
---
<Layout
        title="Mikey.is/a-blogger"
        pathPieces={[
            'a-blogger'
        ]}
>
    <p>
        That's a me
    </p>
</Layout>
<style>
</style>
<script>
</script>