---
import Layout from "../components/Layout.astro";
import Header from "../components/Header.astro";---
<Layout
        title="Mikey.is/who?"
>
    <Header
            pathPieces={[
                'a-gamer'
            ]}
    />
    <p>
        That's a me
    </p>
</Layout>
<style>
</style>
<script>
</script>