---
import Layout from "../components/Layout.astro";
---
<Layout
        title="Mikey.is/a-gamer"
        pathPieces={[
            'a-gamer'
        ]}
>
    <h1>A Gamer</h1>
    <p>
        I appreciate a good game every now and then. If you are looking for more friends on the various game platforms, I am always looking for more people to chill with and have a good time playing games.
    </p>
    <p>
        You can add me on <a href="https://steamcommunity.com/id/msg138" target="_blank" referrerpolicy="no-referrer">Steam</a>.
    </p>
    <p>
        I am a big fan of the Pokemon Franchise games, though I enjoy playing other games such as <a href="https://store.steampowered.com/app/294100/RimWorld/" target="_blank" referrerpolicy="no-referrer">RimWorld</a>, and <a href="https://store.steampowered.com/app/457140/Oxygen_Not_Included/" target="_blank" referrerpolicy="no-referrer">Oxygen Not Included</a>. My all time favorite game would be <a href="https://store.steampowered.com/app/205100/Dishonored/" target="_blank" referrerpolicy="no-referrer">Dishonored</a>.
    </p>
</Layout>
<style>
</style>
<script>
</script>
