@import '../../../assets/styles/colors.scss';

.root {
  z-index: 3;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0;
  transition: opacity 200ms;
  width: 40px;
  height: 40px;
  background-color: $white;
  color: $black;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}

.visible {
  opacity: 1;
}
