---
import Header from "./Header.astro";
export interface Props {
	title: string;
	pathPieces: Array<string>;
}

const { title, pathPieces } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap" rel="stylesheet">
		<title>{title}</title>
		<slot name="head" />
	</head>
	<body>
		<Header
			pathPieces={pathPieces}
		/>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	html {
		font-family: 'Nunito Sans', system-ui, sans-serif;
		background-color: #FFF;
		scroll-behavior: smooth;
	}

	main {
		margin: 4rem auto auto;
		padding: 1.5rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
	}

	h1 {
		font-size: 3rem;
		font-weight: 500;
		margin: 0 0 2rem;
	}

	h2 {
		font-size: 2rem;
		font-weight: 500;
		margin: 0 0 2rem;
		width: 100%;
	}

	h3 {
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0 0 1.5rem;
		width: 100%;
	}

	p {
		font-size: 1.5rem;
		font-weight: 400;
		margin: 0 0 1.5rem;
		max-width: 700px;
		position: relative;
		z-index: 0;
	}

	p a {
		text-decoration: none;
		color: black;
		position: relative;
		white-space: nowrap;
	}

	@keyframes sway {
		from {
			transform: rotate(-5deg);
		}

		to {
			transform: rotate(5deg);
		}
	}

	i {
		display: inline-block;
		transform: rotate(-5deg);
		animation: sway 1000ms;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	main p a::before {
		content: '';
		width: 100%;
		display: block;
		background-color: #e0b5c9;
		position: absolute;
		bottom: 0.3rem;
		left: 0;
		height: 0.4rem;
		transition: height 150ms;
		z-index: -1;
	}

	p a:hover::before {
		height: 1.2rem;
	}

	a:hover {
		color: black;
	}

	@media (max-width: 1200px) {
		main {
			width: 900px;
		}
	}

	@media (max-width: 900px) {
		main {
			width: 600px;
		}

		p {
			font-size: 1.25rem;
		}
	}

	@media print {
		body {
			margin: 0;
		}

		main {
			padding: 0;
			margin: 0;
			width: 100%;
			max-width: 100%;
		}
	}
</style>
