@keyframes floatAnimation1 {
  0% {
    top: 0;
    transform: rotate(0deg);
  }

  50% {
    top: -20px;
    transform: rotate(-10deg);
  }

  75% {
    top: -25px;
    transform: rotate(-13deg);
  }

  100% {
    top: -10px;
    transform: rotate(0deg);
  }
}

.floaty1 {
  position: relative;
  animation-name: floatAnimation1;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}