@import '../../../../assets/styles/colors';

.root {
  display: flex;
  justify-content: space-between;
}

.item {
  font-size: 14px;
  margin: -20px 0;
  padding: 20px 10px;
  box-shadow: none;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;

  & svg {
    width: 30px;
    height: 30px;
  }

  & a {
    text-decoration: none;
    color: $primaryMain;
  }

  &:not(:nth-last-of-type(1)) {
    margin-right: 10px;
  }

  &:hover {
    background: $backgroundLight;
    box-shadow: 2px 3px 2px $shadow;
  }
}

.itemList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
