
$white: #fcf3f2;
$black: #140908;

$blueMain: #156CE6;
$blueDark: #1054B3;

$redMain: #E61515;
$redDark: #B31010;

$yellowMain: #E6C615;
$yellowDark: #B39A10;

$greenMain: #31C217;
$greenDark: #2F7522;

$purpleMain: #7E3DC2;
$purpleDark: #553775;

$greyMain: #c6c6c6;
$greyDark: #545454;